
/* 
*********** Composition ***********
*/

/* Layout */

/* Navbar */
/* How to style the toggler svg https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
/* Set the border color */
          
.custom-toggler.navbar-toggler {
    border-color: white;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Index */

/* https://css-tricks.com/perfect-full-page-background-image/ */
#home { 
    background: url("https://zno.s3.us-west-1.amazonaws.com/moe_765.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--background);
    background-position: 100% 92%;
    height: 100vw;
  }


/* Footer */
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

/* 
*********** Utilities ***********
*/

:root {
    
    --background: #ededed;
    /*--background: #1d5754;*/
    --primary: black;
    --orange: orange;
    --blue: blue;
    --green: green;
    --red: red;
    --black: black;
    --gray: rgb(53, 52, 52);
    --white: #ffffff;
  }

/* 
*********** Blocks ***********
*/

#nav-home {
    margin-top: 40px;
}

.nav-home-1 {

}

.nav-home-2 {
    margin-left: 100px;
    
}


.nav-home-title {
    color: var(--red);
    font-size: 120px;
    line-height: 95px;
}

.nav-home-link {
    font-size: 36px;
}

.link-about {
  color: var(--orange);
}

.link-plays {
    color: var(--blue);
}

.link-community-projects {
    color: var(--green);
}

.link-story-editing {
    color: var(--red);
}

.link-contact {
    color: var(--black);
}


/* 
*********** Exceptions ***********
*/







