
/* 
*********** Composition ***********
*/

/* Layout */

html, body {
    height:100%;
    background-color: #ededed;
}


/* Navbar */
/* How to style the toggler svg https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
/* Set the border color */
          
.custom-toggler.navbar-toggler {
    border-color: white;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Index */



  /* About */

  #about { 
    background: url("https://zno.s3.us-west-1.amazonaws.com/moe_765.png") no-repeat center center fixed; 
    /*background: url("https://zno.s3.us-west-1.amazonaws.com/moe_765.png") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--black);
    background-position: 100% 92%;
    height: 100vw;
  }


  /* Plays */

#plays-list {
    
}

ul {
    text-decoration: none;
    list-style: none;
}
  
  /* Triptych - this is template for the moe-dorie pages */

  #triptych {
      
  }
  
  .triptych-title {

  }

  .triptych-content {
      
}
  
  
/* About */

 

/* Contact - under Media Queries */

#contact-form {
    
    
}

.spacer {
    
}



/* Footer */
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

/* 
*********** Utilities ***********
*/

:root {
    
    --background: #ededed;
    /*--background: #1d5754;*/
    --primary: black;
    --orange: orange;
    --blue: blue;
    --green: green;
    --red: red;
    --black: black;
    --gray: rgb(53, 52, 52);
    --white: #ffffff;
  }

.col-1 {
   
    
}

.col-3 {
    
   
} 



/* 
*********** Blocks ***********
*/

.navbar-light {
    background-color: var(--background);
}

.brando {
    font-size: 36px;
    line-height: 36px;
    color: var(--red) !important;
    text-decoration: none;
}


#nav-global-container {
    margin-top: 40px;
   
}

.nav-global-content {
    
   
}

.nav-home-title a {
    font-size: 120px;
    line-height: 95px;
    color: var(--red);
    text-decoration: none;
}


.nav-home-link {
    font-size: 36px;
    background-color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;

}

#nav-global-container {
    
}

.nav-global-1 {
  
}

.nav-global-2 {
   
}


.nav-global-title a {
    font-size: 36px;
    line-height: 36px;
    color: var(--red);
    text-decoration: none;
}


.nav-global-link {
    font-size: 18px;
    width: -moz-fit-content;
    width: fit-content;
    

}


.link-about a {
  color: var(--orange);
  text-decoration: none;
}

.link-plays a {
    color: var(--blue);
    text-decoration: none;
}

.link-community-projects a {
    color: var(--green);
    text-decoration: none;
}

.link-story-editing a {
    color: var(--red);
    text-decoration: none;
}

.link-contact a {
    color: var(--black);
    text-decoration: none;
}


/* 
*********** Exceptions ***********
*/




/* 
*********** Media Queries ***********
*/

/* Desktop View - uses Contain */
@media (min-width: 1200px) { 
    
#moe-container {
    /*display: flex;
    height: 80%;*/
    background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/moe_1145.png");
    height: 90%;
    background-color: #ededed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#dorie-container {
    /*display: flex;
    height:;*/
    background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/dorie_1145.png");
    height: 95%;
    background-repeat: no-repeat;
    background-color: #ededed;
    background-position: bottom;
    background-size: cover;
}

}



/* Mobile View View - uses Contain */
@media (max-width: 1200px) { 
 
#moe-container {
    /*display: flex;
    height: 80%;*/
    background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/moe_1145.png");
    height: 95%;
    background-color: #ededed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#dorie-container {
    /*display: flex;
    height:;*/
    background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/dorie_1145.png");
    height: 97%;
    background-repeat: no-repeat;
    background-color: #ededed;
    background-position: bottom;
    background-size: contain;
}


}

@media (max-width: 768px) { 
    #moe-container {
        display: none;
    }
    
    #moe-footer {
        background-image: url(
        "https://zno.s3.us-west-1.amazonaws.com/moe_589.png");
        height: 25%;
        background-color: #ededed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        }
}

@media (max-width: 1000px) { 
    .nav-global-content {
       display: none;
       
    }
}


@media (min-width: 1000px) { 
    .navbar-toggler {
        display: none;
    }

    .navbar-brand {
        display: none;
    }
}

/* Home Page Queries */
@media (min-width: 880px) { 
/* https://css-tricks.com/perfect-full-page-background-image/ */
#home { 
    background: url("https://zno.s3.us-west-1.amazonaws.com/dbz-home.jpg") no-repeat center center fixed; 
    /*background: url("https://zno.s3.us-west-1.amazonaws.com/moe_765.png") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--background);
    background-position: 100% 92%;
    height: 100vw;
    padding-top: 50px;
  }
}

@media (max-width: 880px) { 

#home { 
background: url("https://zno.s3.us-west-1.amazonaws.com/dbz-home.jpg") no-repeat center right fixed; 
   /* Set rules to fill background */
  min-height: 100%;
 
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  /*left: 0;*/

  padding-top: 50px;    
  }

  .nav-home-title a {
    font-size: 80px;
    line-height: 65px;
    color: var(--red);
    text-decoration: none;
}


.nav-home-link {
    font-size: 24px;
    background-color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;

}

}