/* 
*********** Fonts ***********
*/

/* https://fonts.google.com/specimen/Bebas+Neue?query=Bebas+Neue#standard-styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-family: 'Bebas Neue', cursive;
}

h3 {
    font-family: 'Bebas Neue', cursive;
}

h4 {
    font-family: 'Bebas Neue', cursive;
}

h5 {
    font-family: 'Bebas Neue', cursive;
}

h6 {
    font-family: 'Bebas Neue', cursive;
}

/* 
*********** images ***********
*/

.thumbnail {
    max-width: 200px;
    max-height: 200px;
}

.pl-img {
    max-width: 40px;
    max-height: 40px;
}

/* 
*********** Composition ***********
*/

/* Layout */

html, body {
    height:100%;
    background-color: var(--background);
}


/* Navbar */
/* How to style the toggler svg https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
/* Set the border color */
          
.custom-toggler.navbar-toggler {
    border-color: white;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Index */



  /* About */

  #about { 
    background: url("https://zno.s3.us-west-1.amazonaws.com/moe_765.png") no-repeat center center fixed; 
    /*background: url("https://zno.s3.us-west-1.amazonaws.com/moe_765.png") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--black);
    background-position: 100% 92%;
    height: 100vw;
  }


  /* Plays */

#play {
    padding-bottom: 100px;
  }

.play-title {
    margin-top: 1.7rem;
}


#plays-list {
    
}

.plays-list-content {
   margin-bottom: 1rem;
}

.play-img {
    max-width: 200px;
    min-height: 173px;
}

.rainey {
   
}

small {
    font-size: 11px;
}

ul {
    text-decoration: none;
    list-style: none;
}
  
  /* Triptych - this is template for the moe-dorie pages */

  #triptych {
     
  }
  
  .triptych-title {
    margin-top: 1.7rem;

  }

  .triptych-content {
      
}
  
  
/* About */

 

/* Contact - under Media Queries */

#contact-form {
    
    
}

.spacer {
    
}



/* Footer */
.footer{
   
    padding: 1rem;
    background-color: var(--background);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
  }

  

/* 
*********** Utilities ***********
*/

:root {
    
    --background: #bfbfbf;
    /*--background: #1d5754;*/
    --primary: #000;
    --orange: #da6213;
    --yellow: #ebba34;
    --chromeyellow: #FFA534;
    --blue: #3f4a75;
    --blue2: blue;
    --green: #538135;
    --red: #ff0400;
    --black: #000000;
    --background: #d1d1d1;
    --white: #ffffff;
  }

a {
    color: var(--blue2);
    font-weight: bold;
}

.dynamo {
    color: var(--red);
    font-weight: 500;
}

.bump {
    margin-bottom: 100px;
}

/* 
*********** Blocks ***********
*/

.navbar-light {
    background-color: var(--background);
}

.brando {
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    background-color: var(--red);
    color: var(--white) !important;
    text-decoration: none;
    padding: 5px;
    font-family: 'Bebas Neue', cursive;

}


#nav-global-container {
    margin-top: 30px;
   
}

.nav-global-content {
    
   
}

#nav-home {
    position: fixed; /* keep it from moving on scroll */
}

#nav-home-alt {
    position: fixed; /* keep it from moving on scroll */
}

#nav-home-alt-md {
    position: fixed; /* keep it from moving on scroll */
}

#nav-home-alt-sm {
     /* position: fixed; keep it from moving on scroll */
}

.nav-home-title a {
    font-size: 200px;
    line-height: 150px;
    color: var(--red);
    text-decoration: none;
    
}

.nav-home-link {
    font-size: 36px;
    background-color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;

}

.nav-home-title-alt a {
    font-size: 150px;
    line-height: 130px;
    color: var(--red);
    text-decoration: none;
    
}

.nav-home-link-alt {
    font-size: 60px;
    line-height: 50px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;

}

.nav-home-title-alt-md a {
    font-size: 120px;
    line-height: 100px;
    color: var(--red);
    text-decoration: none;
    
}

.nav-home-link-alt-md {
    font-size: 40px;
    line-height: 30px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;

}

.nav-home-title-alt-sm a {
    font-size: 100px;
    line-height: 80px;
    color: var(--red);
    text-decoration: none;
    
}

.nav-home-link-alt-sm {
    font-size: 30px;
    line-height: 20px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;

}

#nav-global-container {
    
}

.nav-global-1 {
  
}

.nav-global-2 {
   
}


.nav-global-title a {
    font-size: 60px;
    line-height: 50px;
    color: var(--red);
    text-decoration: none;
}


.nav-global-link {
    font-size: 24px;
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
}


.link-about a {
  color: var(--black);
  text-decoration: none;
}

.link-plays a {
    color: var(--blue);
    text-decoration: none;
}

.link-community-projects a {
    color: var(--green);
    text-decoration: none;
}

.link-story-editing a {
    color: var(--orange);
    text-decoration: none;
}

.link-contact a {
    color: var(--yellow);
    text-decoration: none;
}

#toggle-nav {
    background: url("https://zno.s3.us-west-1.amazonaws.com/dbz-home.jpg") no-repeat left fixed; 
    /*background: url("https://zno.s3.us-west-1.amazonaws.com/moe_765.png") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--background);
    background-position: 100% 92%;
    height: 100vw;
    padding: 20px;
    margin-top: 20px;
}

.navbar-toggler {
    margin-right: 10px;;
}


.story-title {
    /*text-decoration: underline;*/
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

/* 
*********** Exceptions ***********
*/




/* 
*********** Media Queries ***********
*/

/* Desktop View - uses Contain */
@media (min-width: 1200px) { 
    
#moe-container {
    /*display: flex;
    height: 80%;*/
    /*background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/moe_1145.png");*/
    background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/1145_ts_fff_moe.png");
    height: 90%;
    /*background-color: #ededed;*/
    background-color: var(--background);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#dorie-container {
    /*display: flex;
    height:;*/
    /*background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/dorie_1145.png");*/
    background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/1145_ts_fff_dorie.png");
    height: 95%;
    background-repeat: no-repeat;
    /*background-color: #ededed;*/
    background-color: var(--background);
    background-position: bottom;
    background-size: cover;
}

}



/* Mobile View View - uses Contain */
@media (max-width: 1200px) { 
 
#moe-container {
    /*display: flex;
    height: 80%;*/
    background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/1145_ts_fff_moe.png");
    height: 95%;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#dorie-container {
    /*display: flex;
    height:;*/
    background-image: url(
    "https://zno.s3.us-west-1.amazonaws.com/1145_ts_fff_dorie.png");
    height: 97%;
    background-repeat: no-repeat;
    background-color: var(--background);
    background-position: bottom;
    background-size: contain;
}


}

@media (max-width: 768px) { 
    #moe-container {
        display: none;
    }
    
    #moe-footer {
        background-image: url(
        "https://zno.s3.us-west-1.amazonaws.com/589_ts_fff_moe.png");
        height: 25%;
        background-color: var(--background);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        
        
        }
}

@media (max-width: 1000px) { 
    .nav-global-content {
       display: none;
       
    }
}


@media (min-width: 1000px) { 
    .navbar-toggler {
        display: none;
    }

    .navbar-brand {
        display: none;
    }
}

/* Home Page Queries */
@media (min-width: 880px) { 
/* https://css-tricks.com/perfect-full-page-background-image/ */
#home { 
    background: url("https://zno.s3.us-west-1.amazonaws.com/home_1069_938.png") no-repeat center center fixed; 
    /*background: url("https://zno.s3.us-west-1.amazonaws.com/dbz-home.jpg") no-repeat center center fixed; */
    
    /*background: url("https://zno.s3.us-west-1.amazonaws.com/moe_765.png") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--background);
    background-position: 100% 85%;
    height: 100vw;
    padding-top: 50px;
    
  }
}

@media (max-width: 880px) { 

#home { 
    /*background: url("https://zno.s3.us-west-1.amazonaws.com/dbz-home.jpg") no-repeat center right fixed;*/
    background: url("https://zno.s3.us-west-1.amazonaws.com/home_1069_938.png") no-repeat center right fixed; 
    /* Set rules to fill background */
    min-height: 100%;
 
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    background-position: left;
    /*left: 0;*/

  padding-top: 50px;    
  }

  

}

/* Hode #toggle-nav */
@media (min-width: 992px) { 
    #toggle-nav {
        display: none;
    }
}

@media (max-width: 500px) { 
    .nav-home-title a {
        font-size: 80px;
        line-height: 65px;
        color: var(--red);
        text-decoration: none;
    }

    .nav-home-title-alt a {
        font-size: 80px;
        line-height: 65px;
        color: var(--red);
        text-decoration: none;
    }
    
    .nav-home-link {
        font-size: 24px;
        background-color: white;
        width: -moz-fit-content;
        width: fit-content;
        padding: 5px;
    }

    .nav-home-link-alt {
        font-size: 24px;
        background-color: white;
        width: -moz-fit-content;
        width: fit-content;
        padding: 5px;
    }
}

/* Home Page Nav Queries */
@media (min-width: 1400px) { 
    #nav-home-alt-sm {
        display: none;
    }
    #nav-home-alt-md {
        display: none;
    }
}

@media (max-width: 1400px) and (min-width: 800px) { 
    
    #nav-home-alt {
        display: none;
    }
    #nav-home-alt-sm {
        display: none;
    }
}

/* Mobile */
@media (max-width: 800px) { 
    
    #nav-home-alt {
        display: none;
    }
    #nav-home-alt-md {
        display: none;
    }
}


